* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1100px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.container .content {
  flex: 0 0 calc((100% - 2 * 12px) / 3);
  position: relative;
}

.container .content-1 {
  position: relative;
  flex: 0 0 100%;
  overflow: hidden;
  height: 300px;
}

.container .content-5 {
  background-color: #800000;
  color: #fff;
}

.container .content-5 a {
  color: #800000 !important;
  background-color: #fff;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 6px 0;
  border-radius: 5px;
  margin-top: 15px;
}

.container .content-5 .title {
  bottom: 40px !important;
  left: 0;
}

.container .content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.container .content .title {
  padding: 30px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.container .content .title a {
  text-decoration: none;
  color: white;
}

.container .content .title h2 {
  margin-bottom: 20px;
}
