* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  width: 100%;
  background-color: #f1f1f1;
  margin: 30px auto;
  padding: 15px;
  border: 3px solid #4d4d4d;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.element {
  color: white;
  background-color: #3498db;
  height: 70px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 calc((100% - 3 * 8px) / 4);
}

.element-5 {
  flex-grow: 1;
}
